@mixin rwd($device-size) {
    @media (min-width: $device-size) {
        @content;
    }
}

@mixin button-hover($color, $background-color, $border-color) {
    background: mix($--color-white, $background-color, $--button-hover-tint-percent);
    border-color: mix($--color-white, $border-color, $--button-hover-tint-percent);
    color: $color;
}

@mixin button-active($color, $background-color, $border-color) {
    background: mix($--color-black, $background-color, $--button-active-shade-percent);
    border-color: mix($--color-black, $border-color, $--button-active-shade-percent);
    color: $color;
    outline: none;
}
